body {
    margin: 0px 0px;
    font-family: Verdana;
    background-color: #F2F4F5;
}

:root {
    --blue-primary: #4e7df0;
    --blue-hover: #3b6cd8;
    --border-color: #e0e6ed;
    --text-main: #ffffff;
    --text-input: #555555;
    --placeholder-color: #aaaaaa;
}

.DivDos {
    display: flex;
    flex-direction: row;
}

.sidebar {
    position: sticky;
    top: 0;
    width: 225px;
    height: 100vh;
    background-color: var(--blue-primary);
    color: var(--text-main);
    padding: 10px;
}

.sidebar p:nth-child(1) {
    font-size: 20px;
}

.sidebar li a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 5px;
    color: var(--text-main);
}

.body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.body p:nth-child(1) {
    font-family: Verdana;
    font-size: 25px;
    font-weight: bold;
}

.parteTasca {
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    width: 1150px;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: var(--text-main);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
        0 1px 3px rgba(0, 0, 0, 0.1);
}

.NovaT {
    border: none;
    outline: none;
    height: 35px;
    width: 150px;
    border-radius: 4px;
    background-color: var(--blue-primary);
    color: var(--text-main);
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
        0 1px 3px rgba(0, 0, 0, 0.1);
}

.NovaT:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1),
        0 4px 6px rgba(0, 0, 0, 0.05);
}

.NovaT:active {
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    transform: translateY(0px);
}


.conjunt {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.input::placeholder {
    color: var(--placeholder-color);
}

.input:focus {
    border-color: var(--blue-primary);
    box-shadow: 0 0 0 3px rgba(78, 125, 240, 0.2);
}

.conjunt button:nth-child(2) {
    width: 80px;
}

.NovaT,
input {
    transition: all 0.3s ease;
}

.pendent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    margin-top: 15px;
    margin-left: 85px;
}

.parteCuadrado {
    display: flex;
    flex-direction: column;
    margin-left: 35px;
    border-radius: 8px;
    width: 500px;
    height: 250px;
    padding: 0 20px;
    background-color: var(--text-main);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
        0 1px 3px rgba(0, 0, 0, 0.1);
}

.parteCuadrado p:nth-child(1) {
    font-size: 15px;
    font-weight: bold;
    margin-top: 30px;
}

.parteCuadrado>input {
    margin-top: 5px;
}

.colores {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    margin-top: 15px;
}

#color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 30px;
    height: 15px;
    border: none;
    cursor: pointer;
    padding: 0;
    display: inline-block;
}

.color-wrapper {
    width: 50px;
    height: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
}

#color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

#color-picker::-webkit-color-swatch {
    border: none;
    background: transparent;
}

.parteCuadrado>button {
    margin-top: 20px;
}

.parteCrear {
    margin-left: 35px;
    border-radius: 8px;
    width: 450px;
    height: 570px;
    padding: 0 20px;
    background-color: var(--text-main);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05),
        0 1px 3px rgba(0, 0, 0, 0.1);
}

.info {
    display: grid;
}


.parteCrear p:nth-child(1) {
    font-size: 17px;
    font-weight: normal;
}

.parteCrear input:nth-child(4) {
    height: 50px;
}

#opcionesPrio,
#opcionesCat {
    height: 35px;
    padding: 8px;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.05);
}

.info button:nth-of-type(1) {
    margin-top: 20px;
}

.contenedor-grafico {
    position: relative;
    width: 100%;
    height: 400px;
}